{% extends "autohome_base.html" %}
{% block body_dataengineering %}


<div style="display: flex; width:100%; height:100%; justify-content: center; ">
  <ul>
    <li><img src="../static/slides/data_engineering/Slide4.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide15.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide16.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide17.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide18.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide19.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide20.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
    <li><img src="../static/slides/data_engineering/Slide21.JPG" alt="product solutions" style="object-fit: contain; margin-bottom: 10px;"></li>
  </ul>
</div>


{% endblock %}
