{% extends "autohome_base.html" %}

{% block body_theteam %}

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <div class="container">
    <div class="section text-center">
      <h1 class="title">  Follow Us </h1>
    </div>
  </div>
</div>

<div style="display: flex; width:100%; height:100%; justify-content: center; ">

  <ul>
    <a href="https://www.linkedin.com/in/adriel-igarashi/" target="_blank" style="font-size: 60px;">
    <li style="list-style-image: url(../static/linkedin_logo.png); margin: 20px;">Adriel Igarashi
    </li></a>

    <a href="https://www.linkedin.com/in/vitor-souto-n/" target="_blank" style="font-size: 60px;">
    <li style="list-style-image: url(../static/linkedin_logo.png); margin: 20px;">Vitor Souto Neves
    </li></a>

    <a href="https://www.linkedin.com/in/marcos-murta-tanure/" target="_blank" style="font-size: 60px;">
    <li style="list-style-image: url(../static/linkedin_logo.png); margin: 20px;">Marcos Murta Tanure
    </li></a>

  </ul>


</div>

{% endblock %}
