{% extends "autohome_base.html" %}

        {% block runhead %}

        <title>AutoHome Run It !</title>
        <style>
         #container {
            border: 10px #333 solid;
            width: 100%;
            text-align: center;
         }

         #videoElement {
            display: none;
         }

         #canvasElement {
            display: none;
         }

         #photo {
            width: 100%;
         }
         #radarChart {
            width: 150%;
            text-align: center;
         }

         #div_photo {
          display: inline-block;
          vertical-align: middle;
          width: 70%;
}
         #div_radar {
          display: inline-block;
          vertical-align: middle;
}
        </style>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        {% endblock %}


      {% block bodyrun %}

          <div class="container py-3 mt-3">
            <div class="row">
              <div class="mx-left" style="width: 100%; overflow: hidden;">
                <div class="form-check form-switch ps-0" style="width: 600px; float: left;">
                  <form method="post" action="/run">
                  <input class="form-check-input ms-auto mt-1" type="checkbox" id="flexSwitchCheckDefault" name="botaocasa" value="1">
                  <label class="form-check-label ms-2" for="flexSwitchCheckDefault">Cheguei !</label>
                  <input type="submit">
                  </form>
                </div>
                <div style="margin-left: 30%;"> <h2>Olá {{ text_recognition }}. Seu estado é {{ felling_spotify | safe }} </h2>

                </div>
              </div>
            </div>
          </div>

        <div id="container">
            <video autoplay="true" id="videoElement"></video>
            <canvas id="canvasElement" display: none></canvas>
            <div id="div_photo"><img id="photo"></div>
            <div id="div_radar"><canvas id="radarChart"></canvas></div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        </script>


        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>


      <div>

        <script>
        let resultado = [0, 0, 0, 0.1]


            var intervalID = setInterval(update_values, 500);

              function update_values() {
                $.getJSON($SCRIPT_ROOT + '/data',

                  function (data) {
                    resultado = data

                  });

              };




            const data = {
                labels: {{ labels | safe }},
                datasets: [{
                  label: 'Sentimentos',
                  data: resultado,
                  fill: true,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgb(255, 99, 132)',
                  pointBackgroundColor: 'rgb(255, 99, 132)',
                  pointBorderColor: '#fff',
                  pointHoverBackgroundColor: '#fff',
                  pointHoverBorderColor: 'rgb(255, 99, 132)'
                }]
              };

            var ctx2 = document.getElementById("radarChart").getContext("2d")


            var radarct = new Chart(ctx2, {
              type: 'radar',
              data: data,
              options: {
                responsive: false,
                elements: {
                  line: {
                    borderWidth: 3
                  }
                }
              },
            })


            setInterval(function () {
              data.datasets[0].data = resultado.result
              radarct.update()
              //console.log(resultado)

            }, 500)
              ;

        </script>
      </div>

        <span id="result"></span>
        <script>
          document.getElementById("result").innerHTML;
        </script>

        <script src="https://sdk.scdn.co/spotify-player.js" async></script>
        <script>
          window.onSpotifyWebPlaybackSDKReady = () => {

            const token = '{{ token }}'
            const player = new window.Spotify.Player({
              name: 'Autohome',
              getOAuthToken: cb => { cb(token); },
              volume: 0.2
            });

            player.connect();

            player.addListener('ready', ({ device_id }) => {
              console.log('Ready', device_id);
            });

            player.addListener('not_ready', ({ device_id }) => {
              console.log('Not ready', device_id);
            });

            setTimeout(async function () {
              const response = await fetch('https://api.spotify.com/v1/me/player/devices', {
                method: 'GET',
                headers: {
                  'Authorization': 'Bearer {{ token }}',
                  'Content-Type': 'application/json'
                }
              })

              if (response.ok) {
                const devices = await response.json()
                console.log(devices["devices"][0]["name"])
                for (let i = 0; i < devices["devices"].length; i++) {
                  if (devices["devices"][i]["name"] === "Autohome") {
                    var device = devices["devices"][i]["id"]
                  }
                }
                console.log(device)
              }

              const setDevice = await fetch('https://api.spotify.com/v1/me/player', {
                method: 'PUT',
                headers: {
                  'Authorization': 'Bearer {{ token }}',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  device_ids: [device]
                })
              })

              const play = await fetch('https://api.spotify.com/v1/me/player/play', {
                method: 'PUT',
                headers: {
                  'Authorization': 'Bearer {{ token }}',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  context_uri: '{{ playlist }}'
                })
              })
            }, 1800)

            // document.getElementById('togglePlay').onclick = function () {
            //   player.togglePlay();
            // }
          }
        </script>

    {% endblock %}
