{% extends "autohome_base.html" %}
{% block body_technologies %}


<div style="display: flex; width:100%; height:100%; justify-content: center; ">
  <ul>
    <li><img src="../static/slides/technologies/Slide8.JPG" alt="product solutions" style="object-fit: contain"></li>
    <li><img src="../static/slides/technologies/Slide9.JPG" alt="product solutions" style="object-fit: contain"></li>
    <li><img src="../static/slides/technologies/Slide10.JPG" alt="product solutions" style="object-fit: contain"></li>
    <li><img src="../static/slides/technologies/Slide11.JPG" alt="product solutions" style="object-fit: contain"></li>
    <li><img src="../static/slides/technologies/Slide12.JPG" alt="product solutions" style="object-fit: contain"></li>
    <li><img src="../static/slides/technologies/Slide13.JPG" alt="product solutions" style="object-fit: contain"></li>
    <li><img src="../static/slides/technologies/Slide14.JPG" alt="product solutions" style="object-fit: contain"></li>
  </ul>
</div>


{% endblock %}
